---
import ThemeToggle from "./ThemeToggle";
---

<header class="fixed inset-x-0 top-0 z-50 backdrop-blur navbar-gradient border-b border-gray-200/60 dark:border-gray-800/60">
  <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-10 h-16 w-full flex items-center">
    <a href="/#hero" class="text-3xl font-neonderthaw text-gray-900 dark:text-gray-100" style="font-family: 'Neonderthaw', cursive;">fotini.d</a>
    <ul class="hidden md:flex items-center gap-8 text-lg ml-auto mr-3">
      <li><a href="/#about" class="text-gray-800 dark:text-gray-100 hover:text-accent-teal">About</a></li>
      <li><a href="/#projects" class="text-gray-800 dark:text-gray-100 hover:text-accent-teal">Projects</a></li>
      <li><a href="/#skills" class="text-gray-800 dark:text-gray-100 hover:text-accent-teal">Skills</a></li>
      <li><a href="/#gallery" class="text-gray-800 dark:text-gray-100 hover:text-accent-teal">Gallery</a></li>
      <li><a href="/#contact" class="text-gray-800 dark:text-gray-100 hover:text-accent-teal">Contact</a></li>
    </ul>
    <ThemeToggle client:load />
  </nav>
</header>


